* {
    box-sizing: border-box;
    font-size: 1.5rem;
}

html {
    display: flex;
}

body {
    flex-direction: column;
    flex: 1 1 0;
    height: 100%;
    width: 100%;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

div#playerChocies {
    display: flex;
    flex-direction: row;
}

button {
    flex: 1 1 0;
}

div#results-container {
    display: flex;
    flex-direction: row;
}