* {
    box-sizing: border-box;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.4rem;
}

html {
    display: flex;
    
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    width: 100%;
    background-image: url('./img/marjan-blan-marjanblan-qqz06qPB_F0-unsplash.jpg');
}

button {
    flex: 1 1 0;
    opacity: 0.75;
    padding: 1rem;
    outline: none;
}
    button:hover {
        opacity: 1.0;
    }

#title {
    flex-direction: row;
    flex: 1 1 0;
}

div#playerbuttons-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: space-around;
}

div#results-container {
    display: flex;
    white-space: pre-line; /*allows line breaks at newline characters like \r\n */
    flex-direction: column;
    margin: 0.5rem;
    justify-content: center;
}
    div#results-container > p {
        margin: 0.5rem;
    }

.attrib {
    display: flex;
    flex: 1 1 0;
    color: #000;
    justify-content: flex-end;
}

.attrib > p, a {
    font-size: 0.8rem;
    margin: 0;
}